#Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Uploading Datasets

In [ ]:
data=pd.read_csv("compresive_strength_concrete.csv")

In [ ]:
data.shape

(1030, 9)

In [ ]:
data.head()

   Cement (component 1)(kg in a m^3 mixture)  ...  Concrete compressive strength(MPa, megapascals)
0                                      540.0  ...                                             79.99
1                                      540.0  ...                                             61.89
2                                      332.5  ...                                             40.27
3                                      332.5  ...                                             41.05
4                                      198.6  ...                                             44.30

[5 rows x 9 columns]

#Selecting features and target feature

In [ ]:
X = data.iloc[:,0:8]

In [ ]:
X

      Cement (component 1)(kg in a m^3 mixture)  ...  Age (day)
0                                         540.0  ...         28
1                                         540.0  ...         28
2                                         332.5  ...        270
3                                         332.5  ...        365
4                                         198.6  ...        360
...                                         ...  ...        ...
1025                                      276.4  ...         28
1026                                      322.2  ...         28
1027                                      148.5  ...         28
1028                                      159.1  ...         28
1029                                      260.9  ...         28

[1030 rows x 8 columns]

In [ ]:
Y=data[data.columns[8]]

In [ ]:
Y=pd.DataFrame(Y)

In [ ]:
Y

      Concrete compressive strength(MPa, megapascals)
0                                                79.99
1                                                61.89
2                                                40.27
3                                                41.05
4                                                44.30
...                                                ...
1025                                             44.28
1026                                             31.18
1027                                             23.70
1028                                             32.77
1029                                             32.40

[1030 rows x 1 columns]

# Standard Scaler

*** Standard scaler is used for standardization. It is represented as z.***

![image.png]()

In [ ]:
from sklearn.preprocessing import StandardScaler #

In [ ]:
scaler_x = StandardScaler()

In [ ]:
scaler_x.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
X= scaler_x.transform(X)

In [ ]:
X=pd.DataFrame(X)

In [ ]:
X

             0         1         2  ...         5         6         7
0     2.477915 -0.856888 -0.847144  ...  0.863154 -1.217670 -0.279733
1     2.477915 -0.856888 -0.847144  ...  1.056164 -1.217670 -0.279733
2     0.491425  0.795526 -0.847144  ... -0.526517 -2.240917  3.553066
3     0.491425  0.795526 -0.847144  ... -0.526517 -2.240917  5.057677
4    -0.790459  0.678408 -0.847144  ...  0.070527  0.647884  4.978487
...        ...       ...       ...  ...       ...       ...       ...
1025 -0.045645  0.488235  0.564545  ... -1.323005 -0.065893 -0.279733
1026  0.392819 -0.856888  0.960068  ... -1.994680  0.496893 -0.279733
1027 -1.270088  0.759579  0.850635  ... -1.036064  0.080107 -0.279733
1028 -1.168610  1.308065 -0.847144  ...  0.214641  0.191166 -0.279733
1029 -0.194033  0.308499  0.376945  ... -1.395062 -0.150748 -0.279733

[1030 rows x 8 columns]

In [ ]:
scaler_y=StandardScaler()

In [ ]:
scaler_y.fit(Y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
Y=scaler_y.transform(Y)

In [ ]:
Y=pd.DataFrame(Y)

In [ ]:
Y

             0
0     2.645408
1     1.561421
2     0.266627
3     0.313340
4     0.507979
...        ...
1025  0.506781
1026 -0.277762
1027 -0.725729
1028 -0.182539
1029 -0.204697

[1030 rows x 1 columns]

#Training and testing data splittion

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,train_size=0.5,shuffle=True)

#Model selection

In [ ]:
from tensorflow.keras import layers as L
from tensorflow.keras import models as M

In [ ]:
network = M.Sequential()

In [ ]:
network.add(L.Dense(10,activation="relu",input_shape=(X_train.shape[1],)))

In [ ]:
network.add(L.Dense(8,activation="relu"))

In [ ]:
network.add(L.Dense(6,activation="relu"))

In [ ]:
network.add(L.Dense(1))

In [ ]:
network.compile(optimizer="rmsprop",loss=["mse"],metrics=["mae"])

In [ ]:
network.fit(X_train,Y_train,epochs=100,validation_split=0.2)

Epoch 1/100
13/13 [==============================] - 1s 39ms/step - loss: 1.1613 - mae: 0.8950 - val_loss: 0.9223 - val_mae: 0.7903
Epoch 2/100
13/13 [==============================] - 0s 5ms/step - loss: 1.0773 - mae: 0.8586 - val_loss: 0.8943 - val_mae: 0.7770
Epoch 3/100
13/13 [==============================] - 0s 5ms/step - loss: 1.0496 - mae: 0.8459 - val_loss: 0.8639 - val_mae: 0.7622
Epoch 4/100
13/13 [==============================] - 0s 5ms/step - loss: 0.9603 - mae: 0.7967 - val_loss: 0.8249 - val_mae: 0.7433
Epoch 5/100
13/13 [==============================] - 0s 5ms/step - loss: 1.0732 - mae: 0.8455 - val_loss: 0.7823 - val_mae: 0.7220
Epoch 6/100
13/13 [==============================] - 0s 5ms/step - loss: 1.0091 - mae: 0.8350 - val_loss: 0.7367 - val_mae: 0.6978
Epoch 7/100
13/13 [==============================] - 0s 5ms/step - loss: 0.8750 - mae: 0.7582 - val_loss: 0.6904 - val_mae: 0.6708
Epoch 8/100
13/13 [==============================] - 0s 5ms/step - loss: 0.8828 - mae: 0.7750 - val_loss: 0.6397 - val_mae: 0.6396
Epoch 9/100
13/13 [==============================] - 0s 5ms/step - loss: 0.8154 - mae: 0.7496 - val_loss: 0.5945 - val_mae: 0.6113
Epoch 10/100
13/13 [==============================] - 0s 6ms/step - loss: 0.7895 - mae: 0.7204 - val_loss: 0.5454 - val_mae: 0.5801
Epoch 11/100
13/13 [==============================] - 0s 5ms/step - loss: 0.6696 - mae: 0.6742 - val_loss: 0.5010 - val_mae: 0.5536
Epoch 12/100
13/13 [==============================] - 0s 5ms/step - loss: 0.6932 - mae: 0.6658 - val_loss: 0.4660 - val_mae: 0.5313
Epoch 13/100
13/13 [==============================] - 0s 5ms/step - loss: 0.6129 - mae: 0.6319 - val_loss: 0.4340 - val_mae: 0.5095
Epoch 14/100
13/13 [==============================] - 0s 6ms/step - loss: 0.5401 - mae: 0.5845 - val_loss: 0.4084 - val_mae: 0.4892
Epoch 15/100
13/13 [==============================] - 0s 6ms/step - loss: 0.5315 - mae: 0.5855 - val_loss: 0.3874 - val_mae: 0.4721
Epoch 16/100
13/13 [==============================] - 0s 5ms/step - loss: 0.4995 - mae: 0.5679 - val_loss: 0.3708 - val_mae: 0.4611
Epoch 17/100
13/13 [==============================] - 0s 5ms/step - loss: 0.4993 - mae: 0.5682 - val_loss: 0.3578 - val_mae: 0.4556
Epoch 18/100
13/13 [==============================] - 0s 5ms/step - loss: 0.4562 - mae: 0.5459 - val_loss: 0.3475 - val_mae: 0.4512
Epoch 19/100
13/13 [==============================] - 0s 5ms/step - loss: 0.4098 - mae: 0.5147 - val_loss: 0.3391 - val_mae: 0.4476
Epoch 20/100
13/13 [==============================] - 0s 6ms/step - loss: 0.4047 - mae: 0.5077 - val_loss: 0.3333 - val_mae: 0.4447
Epoch 21/100
13/13 [==============================] - 0s 5ms/step - loss: 0.4147 - mae: 0.5074 - val_loss: 0.3263 - val_mae: 0.4412
Epoch 22/100
13/13 [==============================] - 0s 5ms/step - loss: 0.4083 - mae: 0.5053 - val_loss: 0.3230 - val_mae: 0.4397
Epoch 23/100
13/13 [==============================] - 0s 5ms/step - loss: 0.4097 - mae: 0.5092 - val_loss: 0.3178 - val_mae: 0.4371
Epoch 24/100
13/13 [==============================] - 0s 5ms/step - loss: 0.4163 - mae: 0.5066 - val_loss: 0.3144 - val_mae: 0.4352
Epoch 25/100
13/13 [==============================] - 0s 5ms/step - loss: 0.4193 - mae: 0.5142 - val_loss: 0.3092 - val_mae: 0.4324
Epoch 26/100
13/13 [==============================] - 0s 5ms/step - loss: 0.4051 - mae: 0.4886 - val_loss: 0.3055 - val_mae: 0.4306
Epoch 27/100
13/13 [==============================] - 0s 5ms/step - loss: 0.3439 - mae: 0.4559 - val_loss: 0.3018 - val_mae: 0.4287
Epoch 28/100
13/13 [==============================] - 0s 6ms/step - loss: 0.3619 - mae: 0.4725 - val_loss: 0.2971 - val_mae: 0.4259
Epoch 29/100
13/13 [==============================] - 0s 5ms/step - loss: 0.3252 - mae: 0.4407 - val_loss: 0.2930 - val_mae: 0.4229
Epoch 30/100
13/13 [==============================] - 0s 5ms/step - loss: 0.3402 - mae: 0.4477 - val_loss: 0.2880 - val_mae: 0.4193
Epoch 31/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2934 - mae: 0.4152 - val_loss: 0.2815 - val_mae: 0.4151
Epoch 32/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2928 - mae: 0.4154 - val_loss: 0.2760 - val_mae: 0.4113
Epoch 33/100
13/13 [==============================] - 0s 6ms/step - loss: 0.2832 - mae: 0.4152 - val_loss: 0.2713 - val_mae: 0.4084
Epoch 34/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2921 - mae: 0.4224 - val_loss: 0.2643 - val_mae: 0.4040
Epoch 35/100
13/13 [==============================] - 0s 5ms/step - loss: 0.3102 - mae: 0.4351 - val_loss: 0.2600 - val_mae: 0.4020
Epoch 36/100
13/13 [==============================] - 0s 6ms/step - loss: 0.2911 - mae: 0.4166 - val_loss: 0.2548 - val_mae: 0.3977
Epoch 37/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2837 - mae: 0.4204 - val_loss: 0.2489 - val_mae: 0.3925
Epoch 38/100
13/13 [==============================] - 0s 6ms/step - loss: 0.2843 - mae: 0.4096 - val_loss: 0.2450 - val_mae: 0.3913
Epoch 39/100
13/13 [==============================] - 0s 7ms/step - loss: 0.2836 - mae: 0.4100 - val_loss: 0.2417 - val_mae: 0.3886
Epoch 40/100
13/13 [==============================] - 0s 6ms/step - loss: 0.2863 - mae: 0.4107 - val_loss: 0.2370 - val_mae: 0.3850
Epoch 41/100
13/13 [==============================] - 0s 6ms/step - loss: 0.2824 - mae: 0.4087 - val_loss: 0.2331 - val_mae: 0.3822
Epoch 42/100
13/13 [==============================] - 0s 6ms/step - loss: 0.2607 - mae: 0.3930 - val_loss: 0.2294 - val_mae: 0.3775
Epoch 43/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2479 - mae: 0.3875 - val_loss: 0.2256 - val_mae: 0.3727
Epoch 44/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2408 - mae: 0.3806 - val_loss: 0.2238 - val_mae: 0.3710
Epoch 45/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2471 - mae: 0.3784 - val_loss: 0.2224 - val_mae: 0.3689
Epoch 46/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2545 - mae: 0.3847 - val_loss: 0.2192 - val_mae: 0.3669
Epoch 47/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2318 - mae: 0.3681 - val_loss: 0.2160 - val_mae: 0.3653
Epoch 48/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2413 - mae: 0.3815 - val_loss: 0.2150 - val_mae: 0.3628
Epoch 49/100
13/13 [==============================] - 0s 6ms/step - loss: 0.2383 - mae: 0.3827 - val_loss: 0.2130 - val_mae: 0.3602
Epoch 50/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2194 - mae: 0.3617 - val_loss: 0.2137 - val_mae: 0.3580
Epoch 51/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2274 - mae: 0.3707 - val_loss: 0.2126 - val_mae: 0.3553
Epoch 52/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2369 - mae: 0.3826 - val_loss: 0.2099 - val_mae: 0.3532
Epoch 53/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2090 - mae: 0.3520 - val_loss: 0.2096 - val_mae: 0.3517
Epoch 54/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2237 - mae: 0.3563 - val_loss: 0.2064 - val_mae: 0.3500
Epoch 55/100
13/13 [==============================] - 0s 6ms/step - loss: 0.2147 - mae: 0.3527 - val_loss: 0.2062 - val_mae: 0.3473
Epoch 56/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2152 - mae: 0.3629 - val_loss: 0.2041 - val_mae: 0.3462
Epoch 57/100
13/13 [==============================] - 0s 6ms/step - loss: 0.2138 - mae: 0.3621 - val_loss: 0.1995 - val_mae: 0.3439
Epoch 58/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2268 - mae: 0.3636 - val_loss: 0.2013 - val_mae: 0.3425
Epoch 59/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2015 - mae: 0.3389 - val_loss: 0.1989 - val_mae: 0.3410
Epoch 60/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1946 - mae: 0.3374 - val_loss: 0.2007 - val_mae: 0.3401
Epoch 61/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2124 - mae: 0.3599 - val_loss: 0.1966 - val_mae: 0.3387
Epoch 62/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2018 - mae: 0.3485 - val_loss: 0.1952 - val_mae: 0.3385
Epoch 63/100
13/13 [==============================] - 0s 6ms/step - loss: 0.2042 - mae: 0.3459 - val_loss: 0.1961 - val_mae: 0.3376
Epoch 64/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1986 - mae: 0.3407 - val_loss: 0.1942 - val_mae: 0.3363
Epoch 65/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2125 - mae: 0.3599 - val_loss: 0.1917 - val_mae: 0.3354
Epoch 66/100
13/13 [==============================] - 0s 6ms/step - loss: 0.1846 - mae: 0.3304 - val_loss: 0.1932 - val_mae: 0.3344
Epoch 67/100
13/13 [==============================] - 0s 6ms/step - loss: 0.1975 - mae: 0.3352 - val_loss: 0.1977 - val_mae: 0.3335
Epoch 68/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1872 - mae: 0.3326 - val_loss: 0.1941 - val_mae: 0.3339
Epoch 69/100
13/13 [==============================] - 0s 6ms/step - loss: 0.2037 - mae: 0.3438 - val_loss: 0.1939 - val_mae: 0.3343
Epoch 70/100
13/13 [==============================] - 0s 5ms/step - loss: 0.2039 - mae: 0.3423 - val_loss: 0.1950 - val_mae: 0.3345
Epoch 71/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1772 - mae: 0.3194 - val_loss: 0.1955 - val_mae: 0.3324
Epoch 72/100
13/13 [==============================] - 0s 6ms/step - loss: 0.1750 - mae: 0.3147 - val_loss: 0.1924 - val_mae: 0.3329
Epoch 73/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1718 - mae: 0.3181 - val_loss: 0.1943 - val_mae: 0.3332
Epoch 74/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1777 - mae: 0.3179 - val_loss: 0.1951 - val_mae: 0.3331
Epoch 75/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1925 - mae: 0.3367 - val_loss: 0.1913 - val_mae: 0.3325
Epoch 76/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1790 - mae: 0.3194 - val_loss: 0.1929 - val_mae: 0.3314
Epoch 77/100
13/13 [==============================] - 0s 6ms/step - loss: 0.1868 - mae: 0.3303 - val_loss: 0.1895 - val_mae: 0.3285
Epoch 78/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1740 - mae: 0.3085 - val_loss: 0.1940 - val_mae: 0.3315
Epoch 79/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1590 - mae: 0.2969 - val_loss: 0.1890 - val_mae: 0.3292
Epoch 80/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1756 - mae: 0.3078 - val_loss: 0.1912 - val_mae: 0.3287
Epoch 81/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1998 - mae: 0.3391 - val_loss: 0.1901 - val_mae: 0.3291
Epoch 82/100
13/13 [==============================] - 0s 6ms/step - loss: 0.1666 - mae: 0.3047 - val_loss: 0.1923 - val_mae: 0.3304
Epoch 83/100
13/13 [==============================] - 0s 6ms/step - loss: 0.1643 - mae: 0.3049 - val_loss: 0.1926 - val_mae: 0.3295
Epoch 84/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1717 - mae: 0.3105 - val_loss: 0.1910 - val_mae: 0.3283
Epoch 85/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1819 - mae: 0.3199 - val_loss: 0.1914 - val_mae: 0.3275
Epoch 86/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1786 - mae: 0.3229 - val_loss: 0.1862 - val_mae: 0.3279
Epoch 87/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1791 - mae: 0.3145 - val_loss: 0.1883 - val_mae: 0.3274
Epoch 88/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1488 - mae: 0.2809 - val_loss: 0.1882 - val_mae: 0.3275
Epoch 89/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1494 - mae: 0.2831 - val_loss: 0.1885 - val_mae: 0.3271
Epoch 90/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1559 - mae: 0.2964 - val_loss: 0.1926 - val_mae: 0.3292
Epoch 91/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1571 - mae: 0.2976 - val_loss: 0.1888 - val_mae: 0.3293
Epoch 92/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1593 - mae: 0.2942 - val_loss: 0.1912 - val_mae: 0.3287
Epoch 93/100
13/13 [==============================] - 0s 6ms/step - loss: 0.1726 - mae: 0.3116 - val_loss: 0.1916 - val_mae: 0.3292
Epoch 94/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1481 - mae: 0.2864 - val_loss: 0.1983 - val_mae: 0.3319
Epoch 95/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1484 - mae: 0.2924 - val_loss: 0.1982 - val_mae: 0.3324
Epoch 96/100
13/13 [==============================] - 0s 6ms/step - loss: 0.1333 - mae: 0.2759 - val_loss: 0.1949 - val_mae: 0.3313
Epoch 97/100
13/13 [==============================] - 0s 6ms/step - loss: 0.1537 - mae: 0.2956 - val_loss: 0.1924 - val_mae: 0.3308
Epoch 98/100
13/13 [==============================] - 0s 6ms/step - loss: 0.1604 - mae: 0.3006 - val_loss: 0.1920 - val_mae: 0.3307
Epoch 99/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1444 - mae: 0.2863 - val_loss: 0.1971 - val_mae: 0.3322
Epoch 100/100
13/13 [==============================] - 0s 5ms/step - loss: 0.1435 - mae: 0.2867 - val_loss: 0.1951 - val_mae: 0.3315

In [ ]:
loss,mae=network.evaluate(X_test,Y_test)

17/17 [==============================] - 0s 1ms/step - loss: 0.2021 - mae: 0.3220

In [ ]:
loss

0.20206531882286072